body {
    height: 100vh;
    width: 100vw;
    background-color: #91C6BC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    box-sizing: border-box;
    background-color: #4B9DA9;
    height: 75vh;
    width: 30vw;
    border-radius: 25px;
}