body {
    height: 100vh;
    width: 100vw;
    background-color: #91C6BC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    box-sizing: border-box;
    background-color: #4B9DA9;
    height: 75vh;
    width: 30vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#display, #row1, #row2, #row3, #row4, #row5 {
    background-color: #F6F3C2;
    height: 10%;
    width: 70%;
    border: 2px solid black;
}

#display {
    height: 20%;
    border-radius: 30px;
}

