html {
    background-color: black;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#calculatorContainer {
    border: solid lightgray 2px;
    background-color: gray;
    height: 90vh;
    width: 30vw;
    border-radius: 5%;
}