body {
    height: 100vh;
    width: 100vw;
    background-color: #91C6BC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    box-sizing: border-box;
    background-color: #4B9DA9;
    height: 75vh;
    width: 30vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#display, .row {
    height: 10%;
    width: 70%;
}

#display {
    background-color: #F6F3C2;
    height: 20%;
    border: 2px solid black;
    border-radius: 30px;  

    /* style the inputs inside the display */
    display: flex;
    flex-direction: column;
}

#currentInput, #previousInput {
    flex: 1;
}

#currentInput {
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
}

#previousInput {
    text-align: right;
    font-size: 20pt;
    padding-right: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #91C6BC;
    color: #F6F3C2;
    font-size: 25pt;
    padding: 0px 10px 0px 10px;
    flex: 1;
    margin: 0px 5px 0px 5px;
    border-radius: 30px;
}

.btn:hover {background-color: #52c2ae;}


